.env
.idea/*
qiushengke/.idea/*
qiushengke/vendor
qiushengke/composer.lock
qiushengke/public/icon
qiushengke/public/cover
qiushengke/public/static
qiushengke/storage
qiushengke/tests

qsk-match/.idea/*
qsk-match/vendor
qsk-match/composer.lock
qsk-match/public/icon
qsk-match/public/cover
qsk-match/storage
qsk-match/tests
