body{padding: 0;}

#Navigation{
	background: none;
	border-bottom: none;
	box-shadow: none;
}
#Navigation .banner{
	background: none;
	font-size: 24px; color: #fff; font-weight: normal;
}
#Navigation button.att{
	width: 88px; height: 88px;
	background: url(../img/match_terminal_icon_focus_n.png) no-repeat center; background-size: 44px;
	position: absolute; top: 0; right: 4px; z-index: 2;
}
#Navigation button.att.on{
	background: url(../img/match_terminal_icon_focus_s.png) no-repeat center; background-size: 44px;
}
#Navigation .banner .team{
	height: 88px;
	padding: 0 100px;
	background: #292b2e;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center;
	position: absolute; top: 0; left: 0; right: 0; z-index: 1;
}
#Navigation .banner .team p{
	max-height: 64px;
	font-size: 28px; line-height: 32px; color: #fff;
	overflow: hidden;
}
#Navigation .banner .team p.host{
	text-align: right;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
#Navigation .banner .team p.away{
	text-align: left;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
#Navigation .banner .team p.score{
	width: 150px;
	font-size: 30px; text-align: center; font-weight: bold;
}
#Navigation .banner .team p.score span{
	font-size: 20px;
	display: block;
}

/*内容区域*/
#Info{
	height: 252px;
	padding: 88px 3% 0;
	background: url(../img/live_bg_lanqiu_n.jpg) no-repeat center bottom; background-size: cover;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
}
#Info div.info{
	width: 176px;
	padding: 0 20px;
}
#Info div.info p.minute{
	height: 24px;
	font-size: 24px; line-height: 24px; text-align: center; color: #c1c1c1;
}
#Info div.info p.minute span{
	position: absolute;
}
#Info div.info p.score{
	height: 60px;
	padding: 8px 0 28px; margin: 0 -50px;
	font-size: 60px; line-height: 60px; color: #fff; font-weight: bold;
	position: relative;
}
#Info div.info p.score:before{
	height: 60px; width: 60px;
	margin-left: -30px;
	text-align: center;
	position: absolute; top: 8px; left: 50%;
	font-family: 'AppleSDGothicNeo-Regular';
	content: '-';
}
#Info div.info p.score span{
	width: 50%;
	box-sizing: border-box;
}
#Info div.info p.score span.host{
	padding-right: 30px;
	text-align: right;
	float: left;
}
#Info div.info p.score span.away{
	padding-left: 30px;
	text-align: left;
	float: right;
}
#Info div.info a.live{
	height: 60px;
	border-radius: 4px;
	background: #34b45d;
	font-size: 24px; line-height: 60px; text-align: center; color: #fff;
	display: block;
}
#Info div.team{
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
#Info div.team p.img{
	width: 92px; height: 64px;
	margin: 0 auto 18px; padding: 14px 0;
	border: 4px solid #a7a1a1; border-radius: 50%;
	background: #fff;
	text-align: center;
}
#Info div.team p.img img{
	width: 64px; height: 64px;
}
#Info div.team p.name{
	max-height: 76px;
	margin-bottom: 10px;
	font-size: 28px; line-height: 38px; text-align: center; color: #fff;
}
#Info div.team p.rank{
	font-size: 24px; line-height: 32px; text-align: center; color: #a7a1a1;
}

/*Tab补充*/
div#Tab{
	width: 100%;
	background: #fff;
	box-shadow: 0 0 5px 0 rgba(0, 73, 23, 0.3);
	position: relative; z-index: 10;
}
div#Tab label{
	font-size: 28px;
}

/*底栏*/
div.content .bottom{
	height: 60px;
	padding: 30px 0;
	text-align: center;
	position: fixed; bottom: 0; left: 0; right: 0; z-index: 12;
}
div.content .bottom .btn{
	height: 58px;
	border-radius: 8px;
	background: #fff; border: solid 1px #34b45d;
	box-shadow: 0 0 5px 0 rgba(0, 73, 23, 0.3);
	display: inline-block;
	overflow: hidden;
}
div.content .bottom .btn input{
	width: 0; height: 0;
	visibility: hidden; opacity: 0;
	position: absolute;
}
div.content .bottom .btn label{
	height: 60px;
	font-size: 24px; line-height: 60px; text-align: center; color: #34b45d;
	display: inline-block;
}
div.content .bottom .btn input:checked + label{
	background: #34b45d;
	color: #fff;
}

/*公用头部修改*/
div.content .default[close]{
	height: 148px;
	padding: 0 !important;
	overflow: hidden;
}
div.content .default .title{
	height: 148px;
	padding-left: 24px;
	border-bottom: none;
	line-height: 148px;
	position: initial;
}
div.content .default > div.title:before{
	display: none;
}
div.content .default > div.title > button.close{
	width: 88px; height: 88px;
	padding: 0; margin-top: 30px;
	background: url(../img/icon_match_popUp_icon_open_n.png) no-repeat center; background-size: 44px;
	position: relative; z-index: 2;
}
div.content .default[close] > div.title > button.close{
	background: url(../img/icon_match_popUp_icon_close_n.png) no-repeat center; background-size: 44px;
}
div.content .default > div.title > button.close:before{
	display: none;
}
div.content .default .title .labelbox{
	height: 32px;
	line-height: 32px; text-align: center;
	position: absolute; top: 59px; left: 0; right: 0;
}
div.content .default .title .labelbox label{
	height: 32px;
	padding-left: 40px;
	font-size: 26px; line-height: 32px; color: #7e7e7e; font-weight: normal;
	display: inline-block;
	position: relative;
}
div.content .default .title .labelbox label + label{
	margin-left: 40px;
}
div.content .default .title .labelbox input{
	width: 0; height: 0;
	opacity: 0; visibility: hidden;
	position: absolute;
}
div.content .default .title .labelbox span{
	width: 30px; height: 30px;
	border: 1px solid #9e9e9e; border-radius: 6px;
	position: absolute; top: 0; left: 0;
}
div.content .default .title .labelbox input:checked + span{
	background: url(../img/icon_match_popUp_icon_hook_n.png) no-repeat center; background-size: 30px;
}

/*公用table*/
.default > table th{
	height: 44px;
	background: #fff;
	vertical-align: top;
}
.default > table td{
	font-size: 24px;
}
.default .red{
	color: #bc1c25 !important;
}
.default .orange{
	color: #bc1c25 !important;	
}
.default .green{
	color: #34b45d !important;
}
.default .gray{
	color: #bdbdbd !important;
}
.default .blue{
	color: #1974bd !important;
}
.default .black{
	color: #333 !important;
}

/*公用比赛对战相关table*/
.matchTable table th:nth-child(1){
	width: 140px;
}
.matchTable table th:nth-child(2){
	width: 100px;
}
.matchTable table th:nth-child(3){
	
}
.matchTable table th:nth-child(4){
	width: 80px;
}
.matchTable table th:nth-child(5){
	width: 80px;
}
.matchTable table td{
	height: 100px;
}
.matchTable table td:nth-child(1){
	font-size: 20px;
	color: #7e7e7e;
}
.matchTable table td:nth-child(2){
	font-size: 20px;
}
.matchTable table td:nth-child(4){
	width: 120px;
}
.matchTable table td:nth-child(3),
.matchTable table td:nth-child(5){
	width: 130px;
	color: #7e7e7e;
}
.matchTable table td.host{
	color: #494949;
}
.matchTable table td p.goal{
	width: 88px; height: 20px;
	margin: 4px auto 0;
	border-radius: 4px;
	font-size: 20px; line-height: 26px; text-align: center; color: #7e7e7e;
}
.matchTable table td p.win,
.matchTable table td p.draw,
.matchTable table td p.lose,
.matchTable table td p.small{
	width: 32px; height: 32px;
	margin: 4px auto 0;
	border-radius: 2px;
	font-size: 22px; line-height: 32px; text-align: center; color: #fff;
}
.matchTable table td:last-child p.win,
.matchTable table td:last-child p.draw,
.matchTable table td:last-child p.lose,
.matchTable table td:last-child p.small{
	border-radius: 50%;
}
.matchTable table td p.win{
	background: #34b45d;
}
.matchTable table td p.draw{
	background: #9e9e9e;
}
.matchTable table td p.lose{
	background: #1974bd;
}
.matchTable table td p.small{
	background: #e55c00;
}

/*公用队名效果*/
.default p.teamName{
	height: 26px;
	padding: 24px 100px 50px;
	font-size: 26px; line-height: 26px; text-align: center;
	white-space: nowrap; overflow:hidden; text-overflow: ellipsis;
}
.default table + p.teamName{
	padding-top: 70px;
	border-top: 1px solid #e0e3ea;
}
.default p.teamName span{
	height: 26px;
	position: relative;
	white-space: nowrap; text-overflow: ellipsis;
	display: inline-block;
}
.default p.teamName span:before,
.default p.teamName span:after{
	height: 1px; width: 50px;
	background: #a7a1a1;
	position: absolute; top: 50%;
	content: '';
}
.default p.teamName span:before{
	left: -70px;
}
.default p.teamName span:after{
	right: -70px;	
}
.default p.summary{
	padding: 30px 0 60px;
	font-size: 24px; line-height: 24px; text-align: center;
}
.default p.summary b{
	color: #34b45d;
}

/*公用进度条区域*/
.proportion{
	width: 424px; height: 18px;
	margin: 0 auto; padding-top: 120px;
	border-radius: 9px;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	position: relative;
}
.proportion:after{
	height: 18px;
	border: 8px solid #fff; border-radius: 17px;
	position: absolute; left: 0px; right: 0px; bottom: -8px; z-index: 2;
	content: '';
}
.proportion p{
	height: 18px;
	float: left;
	display: inline-block;
	box-sizing: border-box;
}
.proportion p:first-child{
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
.proportion p.host{
	border-radius: 9px 0 0 9px; border-right: 1px solid #fff;
	background: #34b45d;
}
.proportion p.away{
	border-radius: 0 9px 9px 0; border-left: 1px solid #fff;
	background: #e55c00;
}
.proportion div.host{
	width: 184px;
	position: absolute; top: 20px; left: -170px;
}
.proportion div.away{
	width: 184px;
	position: absolute; top: 20px; right: -170px;
}
.proportion div.host img,.proportion div.away img{
	width: 60px; height: 60px;
	margin: 0 auto 28px;
	display: block;
}
.proportion div.host p.match,.proportion div.away p.match{
	height: 44px;
	font-size: 24px; line-height: 44px; text-align: center; color: #808080;
	float: none;
	display: block;
}
.proportion div.host p.match b{
	padding-right: 8px;
	color: #34b45d;
}
.proportion div.away p.match b{
	padding-right: 8px;
	color: #e55c00;
}
.proportion div.host p.score,.proportion div.away p.score{
	height: 42px;
	font-size: 22px; line-height: 42px; text-align: center; color: #808080;
	float: none;
	display: block;
}
.proportion div.host p.score span,.proportion div.away p.score span{
	padding: 0 8px;
	color: #494949;
}


/*赛况*/
div#Match{

}
div#Match .bottom .btn label{
	width: 250px;
}
/*事件*/
div#Event{
	margin-bottom: 120px;
}
div#Event .technology ul{
	padding-bottom: 16px;
}
div#Event .technology ul li{
	min-height: 56px;
}
div#Event .technology dl{
	height: 56px;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
}
div#Event .technology dl dt{
	width: 24%; height: 56px;
	font-size: 24px; line-height: 56px; text-align: center; color: #7e7e7e;
	overflow: hidden;
}
div#Event .technology dl dd{
	height: 56px;
	font-size: 28px; line-height: 56px; color: #292b2e; text-align: center;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
	position: relative;
}
div#Event .technology dl dd:before{
	width: 108px; height: 8px;
	margin-top: -4px;
	border-radius: 4px;
	background: #e3e8f6;
	position: absolute; top: 50%;
	content: '';
}
div#Event .technology dl dd.host{
	padding-right: 140px;
}
div#Event .technology dl dd.host:before{
	right: 0;
}
div#Event .technology dl dd.away{
	padding-left: 140px;
}
div#Event .technology dl dd.away:before{
	left: 0;
}
div#Event .technology dl dd p{
	width: 80px;
}
div#Event .technology dl dd.host p{
	float: right;
}
div#Event .technology dl dd.away p{
	float: left;
}
div#Event .technology dl dd span{
	height: 8px;
	margin-top: -4px;
	border-radius: 4px;
	position: absolute; top: 50%;
}
div#Event .technology dl dd.host span{
	background: #34b45d;
	right: 0;
}
div#Event .technology dl dd.away span{
	background: #e55c00;
	left: 0;
}
div#Event .technology dl.team{
	height: 100px;
	padding-bottom: 8px;
}
div#Event .technology dl.team dt{
	height: 100px;
	font-size: 32px; line-height: 100px; color: #132c3c; font-weight: bold;
}
div#Event .technology dl.team dd{
	height: 100px;
}
div#Event .technology dl.team dd:before{
	height: 100px;
	display: none;
}
div#Event .technology dl.team p.img{
	width: 60px; height: 60px;
	padding: 16px;
	border-radius: 50%; border: 4px solid #a7a1a1;
	background: #fff;
	position: absolute; top: 0;
}
div#Event .technology dd.host p.img{
	right: 40px;
}
div#Event .technology dd.away p.img{
	left: 40px;
}
div#Event .technology dl.team p.img img{
	width: 60px; height: 60px;
}

div#Event .event{
	padding-bottom: 160px;
}
div#Event .event dl{
	margin-top: 64px;
	position: relative;
}
div#Event .event dl:before{
	width: 2px;
	margin-left: -1px;
	background: #d8d8d8;
	position: absolute; top: 0; bottom: 0; left: 50%;
	content: '';
}
div#Event .event dl dt{
	height: 24px;
	font-size: 24px; line-height: 24px; text-align: center;
	position: absolute; left: 0; right: 0;
}
div#Event .event dl dt.end{
	color: #bdbdbd;
}
div#Event .event dl dt:first-child{
	padding-bottom: 72px;
	background: url(../img/icon_video_end.png) no-repeat center bottom 24px; background-size: 30px;
	top: -92px;
}
div#Event .event dl dt:first-child:before{
	width: 18px; height: 18px;
	margin-left: -9px;
	border-radius: 50%;
	background: #d8d8d8;
	position: absolute; top: 81px; left: 50%;
	content: '';
}
div#Event .event dl dt:last-child{
	padding-top: 72px;
	background: url(../img/icon_video_begin.png) no-repeat center 24px; background-size: 30px;
	bottom: -92px;
}
div#Event .event dl dt:last-child:before{
	width: 18px; height: 18px;
	margin-left: -9px;
	border-radius: 50%;
	background: #d8d8d8;
	position: absolute; bottom: 81px; left: 50%;
	content: '';
}
div#Event .event dl dd{
	min-height: 60px;
	padding-bottom: 40px;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center;
	position: relative;
}
div#Event .event dl dt + dd{
	padding-top: 40px;
}
div#Event .event dl dd.host{
	padding-right: 50%;
}
div#Event .event dl dd.away{
	padding-left: 50%;
}
div#Event .event dl dd p.minute{
	width: 56px; height: 56px;
	border: 2px solid #d8d8d8; border-radius: 50%;
	background: #ededed;
	font-size: 24px; line-height: 56px; text-align: center; color: #666;
	position: absolute; top: 0; z-index: 1;
}
div#Event .event dl dt + dd p.minute{
	top: 40px;
}
div#Event .event dl dd p.minute span{
	position: absolute;
}
div#Event .event dl dd.host p.minute{
	margin-right: -30px;
	right: 50%;
}
div#Event .event dl dd.away p.minute{
	margin-left: -30px;
	left: 50%;
}
div#Event .event dl dd ul{
	margin: -10px 0;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
div#Event .event dl dd.host ul{
	padding-left: 10px;
	text-align: right;
}
div#Event .event dl dd.aways ul{
	padding-right: 10px;
	text-align: left;
}
div#Event .event dl dd ul li{
	font-size: 28px; line-height: 40px;
	position: relative;
}
div#Event .event dl dd.host ul li{
	padding-right: 94px;
}
div#Event .event dl dd.away ul li{
	padding-left: 94px;
}
div#Event .event dl dd ul li img{
	width: 30px; height: 30px;
	position: absolute; top: 5px;
}
div#Event .event dl dd.host ul li img{
	right: 47px;
}
div#Event .event dl dd.away ul li img{
	left: 47px;
}
/*比分统计*/
div#Event .score{

}
div#Event .score table th{
	width: 80px;
}
div#Event .score table th:nth-child(1){
	width: 25%;
	padding-left: 60px;
	text-align: left;
}
div#Event .score table td{
	height: 100px;
	color: #999;
}
div#Event .score table td:nth-child(1){
	padding-left: 46px;
	text-align: left;
}
div#Event .score table td img{
	width: 80px; height: 80px;
	display: block;
}
div#Event .score table td.now,
div#Event .score table td:last-child{
	color: #494949;
}
/*球员*/
div#Player{
	margin-bottom: 120px;
}
div#Player .score{
	margin-bottom: 0;
	border-top: none;
	overflow-y: hidden; overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
div#Player .score table{
	width: 1044px;
}
div#Player .score table th{
	width: 96px;
}
div#Player .score table th:nth-child(1){
	width: 276px;
}
div#Player .score table td{
	height: 100px;
}
div#Player .score table td:nth-child(1){
	padding-left: 24px;
	text-align: left;
}

/*分析*/
div#Data{

}
div#Data .odd{

}
div#Data .odd .title select{
	padding-right: 36px;
	border: none;
	background: url(../img/live_icon_down_n.png) no-repeat right 10px center #fff; background-size: 24px;
}
div#Data .odd table th:nth-child(1){
	width: 150px;
}
div#Data .odd table th:nth-child(2){
	
}
div#Data .odd table th:nth-child(3){
	
}
div#Data .odd table td{
	height: 60px;
}
div#Data .odd table td p{
	width: 80px;
	display: inline-block;
}
div#Data .rank{

}
div#Data .rank table th:nth-child(1){
	width: 80px;
}
div#Data .rank table th:nth-child(2){
	width: 80px;
}
div#Data .rank table th:nth-child(3){
	width: 100px;
}
div#Data .rank table th:nth-child(4){
	width: 170px;
}
div#Data .rank table th:nth-child(5){
	width: 100px;
}
div#Data .rank table th:nth-child(6){
	width: 100px;
}
div#Data .rank table th:nth-child(7){
	width: 100px;
}
div#Data .rank table td{
	height: 80px;
}
div#Data .battle{

}
div#Data .battle .proportionBox,
div#Data .battle table{
	display: none;
}
div#Data .battle[ha="0"][le="0"] .proportionBox[ha="0"][le="0"],
div#Data .battle[ha="1"][le="0"] .proportionBox[ha="1"][le="0"],
div#Data .battle[ha="0"][le="1"] .proportionBox[ha="0"][le="1"],
div#Data .battle[ha="1"][le="1"] .proportionBox[ha="1"][le="1"]{
	display: block;
}
div#Data .battle[ha="0"][le="0"] table[ha="0"][le="0"],
div#Data .battle[ha="1"][le="0"] table[ha="1"][le="0"],
div#Data .battle[ha="0"][le="1"] table[ha="0"][le="1"],
div#Data .battle[ha="1"][le="1"] table[ha="1"][le="1"]{
	display: table;
}
div#Data .history{

}
div#Data .history .proportion{
	padding: 40px 0 180px;
}
div#Data .history .proportion:after{
	top: 32px; bottom: auto;
}
div#Data .history .proportion div.host{
	padding-left: 60px;
	text-align: left;
}
div#Data .history .proportion div.away{
	padding-right: 60px;
	text-align: right;
}
div#Data .history .proportion div.host img,div#Data .history .proportion div.away img{
	display: inline-block;
}
div#Data .history .proportion div.host p{
	text-align: left;
}
div#Data .history .proportion div.away p{
	text-align: right;
}
div#Data .history .proportion p.match b{
	font-size: 28px;
}
div#Data .history .proportion div.host p.match b.lose,div#Data .history .proportion div.away p.match b.lose{
	padding: 0 8px;
	color: #9e9e9e;
}
div#Data .history .proportionBox,
div#Data .history table{
	display: none;
}
div#Data .history[ha="0"][le="0"] .proportionBox[ha="0"][le="0"],
div#Data .history[ha="1"][le="0"] .proportionBox[ha="1"][le="0"],
div#Data .history[ha="0"][le="1"] .proportionBox[ha="0"][le="1"],
div#Data .history[ha="1"][le="1"] .proportionBox[ha="1"][le="1"]{
	display: flex;
}
div#Data .history[ha="0"][le="0"] table[ha="0"][le="0"],
div#Data .history[ha="1"][le="0"] table[ha="1"][le="0"],
div#Data .history[ha="0"][le="1"] table[ha="0"][le="1"],
div#Data .history[ha="1"][le="1"] table[ha="1"][le="1"]{
	display: table;
}
div#Data .track{

}
div#Data .track table th:nth-child(1){
	width: 100px;
}
div#Data .track table th:nth-child(2){
	width: 130px;
}
div#Data .track table th:nth-child(3){
	width: 130px;
}
div#Data .track table th:nth-child(4){
	width: 70px;
}
div#Data .track table th:nth-child(5){
	width: 120px;
}
div#Data .track table th:nth-child(6){
	width: 70px;
}
div#Data .track table th:nth-child(7){
	width: 120px;
}
div#Data .track table td{
	height: 80px;
}
div#Data .track td[colspan] p{
	width: 32px; height: 32px;
	font-size: 22px; line-height: 32px; text-align: center; color: #fff;
	display: inline-block;
}
div#Data .track td[colspan] p + p{
	margin-left: 10px;
}
div#Data .track td[colspan] p.asia{
	border-radius: 2px;
}
div#Data .track td[colspan] p.win,
div#Data .track td[colspan] p.big{
	background: #34b45d;
}
div#Data .track td[colspan] p.draw{
	background: #9e9e9e;
}
div#Data .track td[colspan] p.lose{
	background: #1974bd;	
}
div#Data .track td[colspan] p.goal{
	border-radius: 50%;
}
div#Data .track td[colspan] p.small{
	background: #e55c00;	
}

/*指数*/
div#Odd{

}
div#Odd .bottom .btn label{
	width: 120px;
}
div#Odd table{
	margin-top: 50px;
}
div#Asia,div#Europe,div#Goal,div#Kaili{
	margin-bottom: 120px;
}
div#Asia table td,div#Goal table td,div#Europe table td,div#Kaili table td{
	height: 120px;
	line-height: 44px;
}
div#Asia table th:nth-child(1),div#Goal table th:nth-child(1){
	width: 150px;
}
div#Asia table th:nth-child(2),div#Goal table th:nth-child(2){
	width: 60px;
}
div#Asia table th:nth-child(3),div#Goal table th:nth-child(3)
div#Asia table th:nth-child(4),div#Goal table th:nth-child(4)
div#Asia table th:nth-child(5),div#Goal table th:nth-child(5){
	width: 180px;
}
div#Asia table td,div#Goal table td{
	height: 120px;
	line-height: 44px;
}
div#Europe table th:nth-child(1),div#Kaili table th:nth-child(1){
	width: 150px;
}
div#Europe table th:nth-child(2),div#Kaili table th:nth-child(2){
	width: 60px;
}
div#Europe table th:nth-child(3),div#Kaili table th:nth-child(3),
div#Europe table th:nth-child(4),div#Kaili table th:nth-child(4),
div#Europe table th:nth-child(5),div#Kaili table th:nth-child(5){
	width: 130px;
}
div#Europe table th:nth-child(6),div#Kaili table th:nth-child(6){
	width: 150px;
}









