
body{
	padding-top: 110px;
}
#Con{
	min-height: 700px;
}

/*浮动区域*/
#Play{
	position: absolute; top: 350px; left: 0; right: 0;
}
#Play.fixed{
	position: fixed; top: 20px;
}
#Play .abox{
	max-width: 1460px; min-width: 1260px;
	margin: 0 auto;
}
#Play .abox ul{
	width: 90px;
	margin-left: 20px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 4px 5px 0px rgba(0, 64, 36, 0.4);
	overflow: hidden;
}
#Play .abox ul li{
	height: 50px;
	font-size: 15px; line-height: 50px; text-align: center;
	position: relative;
	cursor: pointer;
}
#Play .abox ul li:hover{
	color: #2b9968;
}
#Play .abox ul li + li:before{
	height: 1px;
	background: #e0e0e0;
	position: absolute; top: 0; left: 15px; right: 15px;
	content: '';
}
#Play .abox ul li.on{
	background: #2b9968;
	color: #fff;
}
#Play .abox ul li.on:hover{
	color: #fff;
}
#Play .abox ul li.on:before, #Play .abox ul a.on + li:before{
	display: none;
}


/*信息区域*/
#Info{
	height: 80px;
	padding: 66px 0 96px;
	border-radius: 50px 50px 0 0;
	position: relative;
}
#Info.football{
	background: url(../img/bg_football.jpg) no-repeat center top; background-size: cover;
}
#Info.basketball{
	background: url(../img/bg_basketball.jpg) no-repeat center top; background-size: cover;
}
#Info p.info{
	font-size: 12px; line-height: 18px; text-align: center; color: #fff;
	position: absolute; top: 18px; left: 0; right: 0;
}
#Info p.team{
	height: 80px;
	font-size: 16px; line-height: 80px; color: #fff;
	position: absolute;
	display: inline-block;
}
#Info p.team.host{
	padding-left: 90px;
	text-align: left;
	left: 12%;
}
#Info p.team.away{
	padding-right: 90px;
	text-align: right;
	right: 12%;
}
#Info p.team .img{
	width: 70px; height: 70px;
	padding: 5px;
	border-radius: 50%;
	background: #fff;
	position: absolute; top: 0;
	overflow: hidden;
	behavior: url(css/PIE.htc);
}
#Info p.team.host .img{
	left: 0;
}
#Info p.team.away .img{
	right: 0;
}
#Info p.team .img img{
	width: 70px; height: 70px;
}
#Info p.team em{
	min-width: 70px;
	margin-top: 20px;
	font-size: 12px; line-height: 12px; text-align: center;
	position: absolute; top: 50%;
}
#Info p.team.host em{
	left: 90px; right: 0;
}
#Info p.team.away em{
	left: 0; right: 90px;
}
#Info p.score{
	font-size: 24px; line-height: 80px; text-align: center; color: #fff;
}
#Info .odd{
	height: 22px;
	padding: 4px 0;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0Dffffff,endColorstr=#0Dffffff)\0/; background: rgba(255,255,255,0.2);
	text-align: center;
	position: absolute; bottom: 0; left: 0; right: 0;
}
#Info .odd p{
	height: 22px;
	padding: 0 20px;
	font-size: 12px; line-height: 22px; text-align: center; color: #fff;
	display: inline-block;
}
#Info .odd p + p{
	border-left: 1px solid #fff;
}

/*比赛赛况*/
#Match{

}

/*首发*/
#Match .first{
	padding: 20px 50px 22px; margin-bottom: 20px;
	background: #fff;
}
#Match .first:after{
	display: block;
	clear: both;
	content: '';
}
#Match .first .title{
	height: 30px;
	margin-left: -30px; padding-bottom: 16px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Match .first .part{
	width: 46.7%;
}
#Match .first .part.host{
	text-align: left;
	float: left;
}
#Match .first .part.away{
	text-align: right;
	float: right;
}
#Match .first p.name{
	padding-bottom: 30px;
	font-size: 18px; line-height: 18px; text-align: center;
}
#Match .first p.name span{
	padding: 0 10px;
	font-size: 12px; color: #adadad;
}
#Match .first .percent{
	padding: 40px 0 24px;
	display: inline-block;
}
#Match .first table{
	width: 100%;
}
#Match .first table th{
	height: 42px;
	font-size: 14px; height: 24px; text-align: center; color: #adadad;
}
#Match .first table tbody{
	background: #fafafa;
}
#Match .first table td{
	height: 40px;
	padding-left: 46px;
	font-size: 14px; line-height: 24px; text-align: center;
	position: relative;
}
#Match .first table tr:nth-child(odd) td{
	background: #f6f6f6;
}
#Match .first table td:first-child + td{
	color: #adadad;
}
#Match .first table td p{
	width: 20px; height: 20px;
	margin-top: -10px;
	border-radius: 2px;
	font-size: 12px; line-height: 20px; color: #fff;
	position: absolute; top: 50%; left: 26px;
}
#Match .first table td:first-child + td p{
	opacity: 0.5; filter:Alpha(opacity=50);
}
#Match .first .host table td p{
	background: #2b9968;
}
#Match .first .away table td p{
	background: #fabd36;
}

/*比分统计*/
#Match .score{
	padding: 12px 10px 24px; margin-bottom: 20px;
	border-top: 2px solid #2b9968;
	background: #fff;
}
#Match .score .title{
	height: 30px;
	padding-left: 10px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Match .score table{
	width: 860px;
	margin: 0 auto;
}
#Match .score table th{
	height: 30px;
	font-size: 12px; line-height: 20px; text-align: center; color: #adadad;
}
#Match .score table th:first-child{
	width: 24%;
}
#Match .score table td{
	height: 30px;
	background: #fafafa;
	text-align: center;
}
#Match .score table td:nth-child(even){
	background: #f6f6f6;
}

/*统计*/
#Match .total{
	padding: 12px 10px 24px; margin-bottom: 20px;
	border-top: 2px solid #2b9968;
	background: #fff;
}
#Match .total .title{
	height: 30px;
	padding-left: 10px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Match .total ul{
	font-size: 0px; text-align: left;
}
#Match .total ul li{
	width: 33.33%; height: 14px;
	margin-top: 30px;
	font-size: 12px; line-height: 14px; text-align: center; color: #adadad;
	position: relative;
	display: inline-block;
}
#Match .total ul li .line{
	height: 8px;
	margin-top: -4px;
	border-radius: 4px;
	background: #eee;
	position: absolute; top: 50%;
}
#Match .total ul li .line.host{
	left: 55px; right: 60%;
}
#Match .total ul li .line.away{
	left: 60%; right: 55px;
}
#Match .total ul li .line span{
	height: 8px;
	border-radius: 4px;
	display: block;
}
#Match .total ul li .line.host span{
	background: #2b9968;
	float: right;
}
#Match .total ul li .line.away span{
	background: #fabd36;
	float: left;
}
#Match .total ul li .line p{
	height: 12px;
	margin-top: -6px;
	font-size: 12px; line-height: 12px;
	position: absolute; top: 50%;
}
#Match .total ul li .line.host p{
	margin-right: 10px;
	right: 100%;
}
#Match .total ul li .line.away p{
	margin-left: 10px;
	left: 100%;
}

/*技术统计*/
#Match .player{
	padding: 12px 0 24px; margin-bottom: 20px;
	border-top: 2px solid #2b9968;
	background: #fff;
}
#Match .player .title{
	height: 30px;
	padding-left: 20px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Match .player p.name{
	padding: 30px 0 20px;
	font-size: 18px; line-height: 18px; text-align: center;
}
#Match .player table + p.name{
	padding-top: 50px;
}
#Match .player table{
	width: 100%;
}
#Match .player table th{
	height: 30px;
	font-size: 12px; line-height: 24px; text-align: center; color: #adadad;
}
#Match .player table td{
	height: 50px;
	background: #fafafa;
	font-size: 14px; line-height: 24px; text-align: center;
}
#Match .player table tr:nth-child(even) td{
	background: #f6f6f6;
}
#Match .player table td:first-child{
	color: #2b9968;
}
#Match .player table tr.noPlay td:first-child{
	color: #adadad;
}
#Match .player table tr.total td:first-child{
	color: #666;
}
#Match .player table tr:hover td{
	background: #e0ece7;
}
#Match .player table td:hover{
	background: #b6d5c8 !important;
	color: #fff;
}
#Match .player table tr:last-child td{
	background: #fafafa !important;
	color: #666;
}
#Match .player table[choose='1'] td:nth-child(1),
#Match .player table[choose='2'] td:nth-child(2),
#Match .player table[choose='3'] td:nth-child(3),
#Match .player table[choose='4'] td:nth-child(4),
#Match .player table[choose='5'] td:nth-child(5),
#Match .player table[choose='6'] td:nth-child(6),
#Match .player table[choose='7'] td:nth-child(7),
#Match .player table[choose='8'] td:nth-child(8),
#Match .player table[choose='9'] td:nth-child(9),
#Match .player table[choose='10'] td:nth-child(10),
#Match .player table[choose='11'] td:nth-child(11),
#Match .player table[choose='12'] td:nth-child(12),
#Match .player table[choose='13'] td:nth-child(13){
	background: #e0ece7;
}

/*数据分析*/
#Data{
	position: relative; z-index: 2;
}

/*指数*/
#Data .odd{
	padding: 12px 0 30px; margin-bottom: 20px;
	background: #fff;
}
#Data .odd .title{
	height: 30px;
	padding-left: 20px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Data .odd .abox{
	height: 30px;
	margin: 0 20px 15px 0; padding: 0 10px 0 20px;
	border-radius: 2px 2px 2px 28px;
	background: #f6f6f6;
	text-align: center;
	float: right;
}
#Data .odd .abox a{
	width: 40px;
	font-size: 12px; line-height: 30px; color: #2b9968;
	display: inline-block;
}
#Data .odd .abox a:hover{
	text-decoration: underline;
}
#Data .odd table{
	width: 100%;
}
#Data .odd table th{
	height: 30px;
	font-size: 12px; line-height: 20px; text-align: center; color: #adadad;
}
#Data .odd table tr:first-child th{
	height: 28px;
	font-size: 14px; color: #666;
}
#Data .odd table td{
	height: 30px;
	background: #fafafa;
	text-align: center;
}
#Data .odd table tr:nth-child(4n + 1) td,
#Data .odd table tr:nth-child(4n + 1) + tr td{
	background: #f6f6f6;
}
#Data .odd table td[rowspan]:nth-child(1){
	padding-left: 20px;
	text-align: left; color: #c52601;
}

/*攻防能力*/
#Data .attack{
	padding: 12px 20px 30px; margin-bottom: 20px;
	border-top: 2px solid #2b9968;
	background: #fff;
}
#Data .attack:after{
	display: block;
	clear: both;
	content: '';
}
#Data .attack .title{
	height: 30px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Data .attack .part{
	width: 48.5%;
	padding-top: 8px;
	text-align: center;
}
#Data .attack .part.host{
	float: left;
}
#Data .attack .part.away{
	float: right;
}
#Data .attack p.name{
	padding-bottom: 16px;
	font-size: 18px; line-height: 18px;
}
#Data .attack p.name span{
	padding: 0 10px;
	font-size: 12px; color: #adadad;
}
#Data .attack table{
	width: 100%;
}
#Data .attack table th{
	height: 30px; width: 9.2%;
	font-size: 12px; line-height: 20px; text-align: center; color: #adadad;
}
#Data .attack table th:first-child{
	width: 8%;
}
#Data .attack table td{
	height: 30px;
	background: #fafafa;
	font-size: 12px; line-height: 20px; text-align: center;
}
#Data .attack table tr:nth-child(odd) td{
	background: #f6f6f6;
}
#Data .attack table td.gray{
	color: #adadad;
}

/*对赛往绩*/
#Data .battle{
	padding: 12px 50px 30px; margin-bottom: 20px;
	border-top: 2px solid #2b9968;
	background: #fff;
}
#Data .battle .title{
	height: 30px;
	padding-bottom: 20px; margin-left: -30px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Data .battle .cbox{
	height: 14px;
	margin: 8px 0 20px;
	line-height: 14px; text-align: center;
	position: relative;
}
#Data .battle .cbox button[name=ha], #Data .battle .cbox button[name=ma]{
	height: 14px;
	padding-left: 22px;
	background: #fff;
	font-size: 12px; line-height: 14px; color: #adadad;
	position: relative;
}
#Data .battle .cbox button[name=ha]:hover, #Data .battle .cbox button[name=ma]:hover{
	color: #2b9968;
}
#Data .battle .cbox button[name=ha]{
	margin-left: 40px;
}
#Data .battle .cbox button[name=ha]:before, #Data .battle .cbox button[name=ma]:before{
	width: 12px; height: 12px;
	border-radius: 2px; border: 1px solid #adadad;
	position: absolute; left: 0; top: 0;
	content: '';
}
#Data .battle .cbox button.on[name=ha]:before, #Data .battle .cbox button.on[name=ma]:before{
	background: url(../img/icon_g_n.png) no-repeat center; background-size: 12px;
}
#Data .battle .cbox .num{
	height: 28px;
	margin-right: -50px;
	text-align: right;
	position: absolute; right: 43px; top: -14px;
}
#Data .battle .cbox .num button{
	height: 28px; width: 50px;
	margin-left: 35px;
	background: #fff;
	font-size: 14px; color: #adadad;
}
#Data .battle .cbox .num button.on{
	border-bottom: 2px solid #2b9968;
	color: #2b9968;
}
#Data .battle .cbox .num button:hover{
	color: #2b9968;
}
#Data .battle .con{
	display: none;
}
#Data .battle[ha="0"][ma="0"] .con[ha="0"][ma="0"],
#Data .battle[ha="1"][ma="0"] .con[ha="1"][ma="0"],
#Data .battle[ha="0"][ma="1"] .con[ha="0"][ma="1"],
#Data .battle[ha="1"][ma="1"] .con[ha="1"][ma="1"]{
	display: block;
}
#Data .battle .con dl{
	width: 360px;
	margin: 0 auto 24px; padding-top: 18px;
	position: relative;
}
#Data .battle .con dl dt{
	width: 100px;
	font-size: 12px; line-height: 18px;
	position: absolute; top: 0;
}
#Data .battle .con dl dt.win{
	text-align: left; color: #2b9968;
	left: 5px;
}
#Data .battle .con dl dt.lose{
	text-align: right; color: #fabd36;
	right: 5px;
}
#Data .battle .con dl dt p{
	width: 100px;
	color: #adadad;
	position: absolute; top: 100%;
}
#Data .battle .con dl dt.win p{
	padding-right: 16px; margin-top: -2px;
	line-height: 12px; text-align: right;
	right: 100%;
}
#Data .battle .con dl dt.lose p{
	padding-left: 16px; margin-top: -2px;
	line-height: 12px; text-align: left;
	left: 100%;
}
#Data .battle .con dl dt p span{
	padding: 0 2px;
	color: #c52601;
}
#Data .battle .con dl dd{
	height: 6px;
	border-radius: 3px;
	background: #f6f6f6;
	font-size: 0px;
	overflow: hidden;
}
#Data .battle .con dl dd p{
	height: 6px;
	display: inline-block;
}
#Data .battle .con dl dd p.win{
	background: #2b9968;
}
#Data .battle .con dl dd p.draw{
	background: #dbdbdb;
}
#Data .battle .con dl dd p.lose{
	background: #fabd36;
}
#Data .battle table{
	width: 100%;
}
#Data .battle table th{
	height: 24px;
	font-size: 12px; line-height: 18px; text-align: center; color: #adadad;
}
#Data .battle table td{
	height: 30px;
	background: #fafafa;
	font-size: 12px; line-height: 14px; text-align: center;
}
#Data .battle table tr:nth-child(odd) td{
	background: #f6f6f6;
}
#Data .battle table td.green{
	color: #2b9968;
}
#Data .battle table td.gray{
	color: #adadad;
}
#Data .battle table td.blue{
	color: #1661c7;
}
#Data .battle table td.yellow{
	color: #fabd36;
}
#Data .battle table tr:hover td{
	background: #e0ece7;
}
#Data .battle table td:hover{
	background: #b6d5c8 !important;
	color: #fff;
}
#Data .battle table[choose='1'] td:nth-child(1),
#Data .battle table[choose='2'] td:nth-child(2),
#Data .battle table[choose='3'] td:nth-child(3),
#Data .battle table[choose='4'] td:nth-child(4),
#Data .battle table[choose='5'] td:nth-child(5),
#Data .battle table[choose='6'] td:nth-child(6),
#Data .battle table[choose='7'] td:nth-child(7),
#Data .battle table[choose='8'] td:nth-child(8),
#Data .battle table[choose='9'] td:nth-child(9),
#Data .battle table[choose='10'] td:nth-child(10),
#Data .battle table[choose='11'] td:nth-child(11),
#Data .battle table[choose='12'] td:nth-child(12),
#Data .battle table[choose='13'] td:nth-child(13){
	background: #e0ece7;
}

/*最近战绩*/
#Data .history{
	padding: 12px 50px 30px; margin-bottom: 20px;
	border-top: 2px solid #2b9968;
	background: #fff;
}
#Data .history .title{
	height: 30px;
	margin-left: -30px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Data .history .team{
	height: 40px;
	padding-bottom: 10px;
	text-align: center;
}
#Data .history .team button{
	min-width: 200px; height: 40px;
	padding: 0 25px;
	background: #fff;
	border-radius: 4px; border: 1px solid #2b9968;
	font-size: 12px; text-align: center; color: #2b9968;
}
#Data .history .team button.away{
	margin-left: 80px;
}
#Data .history .team button.on{
	background: #2b9968;
	color: #fff;
}
#Data .history .cbox{
	height: 14px;
	margin: 28px 0 20px;
	line-height: 14px; text-align: center;
	position: relative;
}
#Data .history .cbox button[name=ha], #Data .history .cbox button[name=ma]{
	height: 14px;
	padding-left: 22px;
	background: #fff;
	font-size: 12px; line-height: 14px; color: #adadad;
	position: relative;
}
#Data .history .cbox button[name=ha]:hover, #Data .history .cbox button[name=ma]:hover{
	color: #2b9968;
}
#Data .history .cbox button[name=ha]{
	margin-left: 40px;
}
#Data .history .cbox button[name=ha]:before, #Data .history .cbox button[name=ma]:before{
	width: 12px; height: 12px;
	border-radius: 2px; border: 1px solid #adadad;
	position: absolute; left: 0; top: 0;
	content: '';
}
#Data .history .cbox button.on[name=ha]:before, #Data .history .cbox button.on[name=ma]:before{
	background: url(../img/icon_g_n.png) no-repeat center; background-size: 12px;
}
#Data .history .cbox .num{
	height: 28px;
	margin-right: -50px;
	text-align: right;
	position: absolute; right: 43px; top: -14px;
}
#Data .history .cbox .num button{
	height: 28px; width: 50px;
	margin-left: 35px;
	background: #fff;
	font-size: 14px; color: #adadad;
}
#Data .history .cbox .num button.on{
	border-bottom: 2px solid #2b9968;
	color: #2b9968;
}
#Data .history .cbox .num button:hover{
	color: #2b9968;
}
#Data .history .con{
	display: none;
}
#Data .history[ha="0"][ma="0"] .con[ha="0"][ma="0"],
#Data .history[ha="1"][ma="0"] .con[ha="1"][ma="0"],
#Data .history[ha="0"][ma="1"] .con[ha="0"][ma="1"],
#Data .history[ha="1"][ma="1"] .con[ha="1"][ma="1"]{
	display: block;
}
#Data .history .con dl{
	width: 360px;
	margin: 0 auto 24px; padding-top: 18px;
	position: relative;
}
#Data .history .con dl dt{
	width: 100px;
	font-size: 12px; line-height: 18px;
	position: absolute; top: 0;
}
#Data .history .con dl dt.win{
	text-align: left; color: #2b9968;
	left: 5px;
}
#Data .history .con dl dt.lose{
	text-align: right; color: #fabd36;
	right: 5px;
}
#Data .history .con dl dt p{
	width: 100px;
	color: #adadad;
	position: absolute; top: 100%;
}
#Data .history .con dl dt.win p{
	padding-right: 16px; margin-top: -2px;
	line-height: 12px; text-align: right;
	right: 100%;
}
#Data .history .con dl dt.lose p{
	padding-left: 16px; margin-top: -2px;
	line-height: 12px; text-align: left;
	left: 100%;
}
#Data .history .con dl dt p span{
	padding: 0 2px;
	color: #c52601;
}
#Data .history .con dl dd{
	height: 6px;
	border-radius: 3px;
	background: #f6f6f6;
	font-size: 0px;
	overflow: hidden;
}
#Data .history .con dl dd p{
	height: 6px;
	display: inline-block;
}
#Data .history .con dl dd p.win{
	background: #2b9968;
}
#Data .history .con dl dd p.draw{
	background: #dbdbdb;
}
#Data .history .con dl dd p.lose{
	background: #fabd36;
}
#Data .history table{
	width: 100%;
}
#Data .history table th{
	height: 24px;
	font-size: 12px; line-height: 18px; text-align: center; color: #adadad;
}
#Data .history table td{
	height: 30px;
	background: #fafafa;
	font-size: 12px; line-height: 14px; text-align: center;
}
#Data .history table tr:nth-child(odd) td{
	background: #f6f6f6;
}
#Data .history table td.green{
	color: #2b9968;
}
#Data .history table td.gray{
	color: #adadad;
}
#Data .history table td.blue{
	color: #1661c7;
}
#Data .history table td.yellow{
	color: #fabd36;
}
#Data .history table tr:hover td{
	background: #e0ece7;
}
#Data .history table td:hover{
	background: #b6d5c8 !important;
	color: #fff;
}
#Data .history table[choose='1'] td:nth-child(1),
#Data .history table[choose='2'] td:nth-child(2),
#Data .history table[choose='3'] td:nth-child(3),
#Data .history table[choose='4'] td:nth-child(4),
#Data .history table[choose='5'] td:nth-child(5),
#Data .history table[choose='6'] td:nth-child(6),
#Data .history table[choose='7'] td:nth-child(7),
#Data .history table[choose='8'] td:nth-child(8),
#Data .history table[choose='9'] td:nth-child(9),
#Data .history table[choose='10'] td:nth-child(10),
#Data .history table[choose='11'] td:nth-child(11),
#Data .history table[choose='12'] td:nth-child(12),
#Data .history table[choose='13'] td:nth-child(13){
	background: #e0ece7;
}

/*统计比较*/
#Total{
	position: relative; z-index: 2;
}

/*让分盘路比较*/
#Total .asia{
	padding: 20px 20px 22px; margin-bottom: 20px;
	background: #fff;
}
#Total .asia:after{
	display: block;
	clear: both;
	content: '';
}
#Total .asia .title{
	height: 30px;
	padding-bottom: 16px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Total .asia .part{
	width: 49%;
}
#Total .asia .part.host{
	text-align: left;
	float: left;
}
#Total .asia .part.away{
	text-align: right;
	float: right;
}
#Total .asia .part p.name{
	padding-bottom: 20px;
	font-size: 14px; line-height: 14px; text-align: center;
}
#Total .asia .part table + p.name{
	margin-top: 50px;
}
#Total .asia .part p.name span{
	padding: 0 10px;
	font-size: 12px; color: #adadad;
}
#Total .asia .part .fh{
	height: 30px;
	padding-bottom: 10px;
	text-align: center;
	position: relative;
}
#Total .asia .part .fh button.full, #Total .asia .part .fh button.half{
	width: 80px; height: 30px;
	border: 1px solid #2b9968;
	background: #fff;
	font-size: 12px; text-align: center; color: #2b9968;
}
#Total .asia .part .fh button.full{
	border-radius: 4px 0 0 4px;
}
#Total .asia .part .fh button.half{
	border-radius: 0 4px 4px 0;
}
#Total .asia .part .fh button.full.on, #Total .asia .part .fh button.half.on{
	background: #2b9968;
	color: #fff;
}
#Total .asia .part .fh .num{
	height: 28px;
	text-align: right;
	position: absolute; right: 0px; top: 0px;
}
#Total .asia .part .fh .num button{
	height: 26px; width: 46px;
	margin-left: 16px;
	background: #fff;
	font-size: 14px; color: #adadad;
}
#Total .asia .part .fh .num button.on{
	border-bottom: 2px solid #2b9968;
	color: #2b9968;
}
#Total .asia .part .fh .num button:hover{
	color: #2b9968;
}
#Total .asia .part table{
	width: 100%;
}
#Total .asia .part table th{
	height: 24px;
	font-size: 12px; line-height: 18px; text-align: center; color: #adadad;
}
#Total .asia .part table td{
	height: 30px;
	background: #fafafa;
	font-size: 12px; line-height: 14px; text-align: center;
}
#Total .asia .part table tr:nth-child(odd) td{
	background: #f6f6f6;
}
#Total .asia .part table p{
	padding: 0 2px;
	display: inline-block;
}
#Total .asia .part table .green{
	color: #2b9968;
}
#Total .asia .part table .gray{
	color: #adadad;
}
#Total .asia .part table .blue{
	color: #1661c7;
}

/*总分盘路比较*/
#Total .goal{
	padding: 20px 20px 22px; margin-bottom: 20px;
	border-top: 2px solid #2b9968;
	background: #fff;
}
#Total .goal:after{
	display: block;
	clear: both;
	content: '';
}
#Total .goal .title{
	height: 30px;
	padding-bottom: 16px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Total .goal .part{
	width: 49%;
}
#Total .goal .part.host{
	text-align: left;
	float: left;
}
#Total .goal .part.away{
	text-align: right;
	float: right;
}
#Total .goal .part p.name{
	padding-bottom: 20px;
	font-size: 14px; line-height: 14px; text-align: center;
}
#Total .goal .part table + p.name{
	margin-top: 50px;
}
#Total .goal .part p.name span{
	padding: 0 10px;
	font-size: 12px; color: #adadad;
}
#Total .goal .part .fh{
	height: 30px;
	padding-bottom: 10px;
	text-align: center;
	position: relative;
}
#Total .goal .part .fh button.full, #Total .goal .part .fh button.half{
	width: 80px; height: 30px;
	border: 1px solid #2b9968;
	background: #fff;
	font-size: 12px; text-align: center; color: #2b9968;
}
#Total .goal .part .fh button.full{
	border-radius: 4px 0 0 4px;
}
#Total .goal .part .fh button.half{
	border-radius: 0 4px 4px 0;
}
#Total .goal .part .fh button.full.on, #Total .goal .part .fh button.half.on{
	background: #2b9968;
	color: #fff;
}
#Total .goal .part .fh .num{
	height: 28px;
	text-align: right;
	position: absolute; right: 0px; top: 0px;
}
#Total .goal .part .fh .num button{
	height: 26px; width: 46px;
	margin-left: 16px;
	font-size: 14px; color: #adadad;
}
#Total .goal .part .fh .num button.on{
	border-bottom: 2px solid #2b9968;
	color: #2b9968;
}
#Total .goal .part .fh .num button:hover{
	color: #2b9968;
}
#Total .goal .part table{
	width: 100%;
}
#Total .goal .part table th{
	height: 24px;
	font-size: 12px; line-height: 18px; text-align: center; color: #adadad;
}
#Total .goal .part table td{
	height: 30px;
	background: #fafafa;
	font-size: 12px; line-height: 14px; text-align: center;
}
#Total .goal .part table tr:nth-child(odd) td{
	background: #f6f6f6;
}
#Total .goal .part table p{
	padding: 0 2px;
	display: inline-block;
}
#Total .goal .part table .green{
	color: #2b9968;
}
#Total .goal .part table .gray{
	color: #adadad;
}
#Total .goal .part table .blue{
	color: #1661c7;
}
#Total .goal .part table .yellow{
	color: #fabd36;
}

/*平均得分/失分对比*/
#Total .average{
	padding: 20px 20px 22px; margin-bottom: 20px;
	border-top: 2px solid #2b9968;
	background: #fff;
}
#Total .average:after{
	display: block;
	clear: both;
	content: '';
}
#Total .average .title{
	height: 30px;
	padding-bottom: 16px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Total .average .part{
	width: 49%;
}
#Total .average .part.host{
	text-align: left;
	float: left;
}
#Total .average .part.away{
	text-align: right;
	float: right;
}
#Total .average .part .name{
	height: 14px;
	margin-bottom: 20px;
	font-size: 14px; line-height: 14px; text-align: center;
	position: relative;
}
#Total .average .part .name .num{
	height: 28px;
	margin-top: -14px;
	text-align: right;
	position: absolute; right: 0px; top: 50%;
}
#Total .average .part .name .num button{
	height: 26px; width: 46px;
	margin-left: 16px;
	background: #fff;
	font-size: 14px; color: #adadad;
}
#Total .average .part .name .num button.on{
	border-bottom: 2px solid #2b9968;
	color: #2b9968;
}
#Total .average .part .name .num button:hover{
	color: #2b9968;
}
#Total .average .part table{
	width: 100%;
}
#Total .average .part table th{
	height: 20px;
	font-size: 12px; line-height: 20px; text-align: center; color: #adadad;
}
#Total .average .part table th[rowspan]{
	line-height: 30px;
	vertical-align: bottom;
}
#Total .average .part table tr:first-child th{
	height: 30px;
}
#Total .average .part table tr:first-child + tr th{
	background: #2b9968;
	color: #fff;
}
#Total .average .part table tr:first-child + tr th:nth-child(4n - 3),
#Total .average .part table tr:first-child + tr th:nth-child(4n - 2){
	background: #fabd36;
}
#Total .average .part table td{
	height: 30px;
	background: #fafafa;
	font-size: 12px; line-height: 20px; text-align: center;
}
#Total .average .part table tr:nth-child(even) td{
	background: #f6f6f6;
}

/*总分统计*/
#Total .total{
	padding: 20px 20px 22px; margin-bottom: 20px;
	border-top: 2px solid #2b9968;
	background: #fff;
}
#Total .total:after{
	display: block;
	clear: both;
	content: '';
}
#Total .total .title{
	height: 30px;
	padding-bottom: 16px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Total .total .part{
	width: 49%;
}
#Total .total .part.host{
	text-align: left;
	float: left;
}
#Total .total .part.away{
	text-align: right;
	float: right;
}
#Total .total .part .name{
	height: 14px;
	margin-bottom: 28px;
	font-size: 14px; line-height: 14px; text-align: center;
	position: relative;
}
#Total .total .part .name .num{
	height: 28px;
	margin-top: -14px;
	text-align: right;
	position: absolute; right: 0px; top: 50%;
}
#Total .total .part .name .num button{
	height: 26px; width: 46px;
	margin-left: 16px;
	background: #fff;
	font-size: 14px; color: #adadad;
}
#Total .total .part .name .num button.on{
	border-bottom: 2px solid #2b9968;
	color: #2b9968;
}
#Total .total .part .name .num button:hover{
	color: #2b9968;
}
#Total .total .part table{
	width: 100%;
}
#Total .total .part table th{
	height: 44px;
	font-size: 12px; line-height: 13px; text-align: center; color: #adadad;
}
#Total .total .part table td{
	height: 30px;
	background: #fafafa;
	font-size: 12px; line-height: 20px; text-align: center;
}
#Total .total .part table tr:nth-child(even) td{
	background: #f6f6f6;
}

/*总分统计*/
#Total .difference{
	padding: 20px 20px 22px; margin-bottom: 20px;
	border-top: 2px solid #2b9968;
	background: #fff;
}
#Total .difference:after{
	display: block;
	clear: both;
	content: '';
}
#Total .difference .title{
	height: 30px;
	padding-bottom: 16px;
	font-size: 14px; line-height: 30px; text-align: left; color: #2b9968;
}
#Total .difference .part{
	width: 49%;
}
#Total .difference .part.host{
	text-align: left;
	float: left;
}
#Total .difference .part.away{
	text-align: right;
	float: right;
}
#Total .difference .part .name{
	height: 14px;
	margin-bottom: 28px;
	font-size: 14px; line-height: 14px; text-align: center;
	position: relative;
}
#Total .difference .part .name .num{
	height: 28px;
	margin-top: -14px;
	text-align: right;
	position: absolute; right: 0px; top: 50%;
}
#Total .difference .part .name .num button{
	height: 26px; width: 46px;
	margin-left: 16px;
	background: #fff;
	font-size: 14px; color: #adadad;
}
#Total .difference .part .name .num button.on{
	border-bottom: 2px solid #2b9968;
	color: #2b9968;
}
#Total .difference .part .name .num button:hover{
	color: #2b9968;
}
#Total .difference .part table{
	width: 100%;
}
#Total .difference .part table th{
	height: 30px;
	font-size: 12px; line-height: 20px; text-align: center; color: #adadad;
}
#Total .difference .part table td{
	height: 30px;
	background: #fafafa;
	font-size: 12px; line-height: 20px; text-align: center;
}
#Total .difference .part table tr:nth-child(even) td{
	background: #f6f6f6;
}


































